body{
    margin: 0px;
}


.h-1{
    margin-left: 10px;
    font-family: 'Lora', serif;
    font-size: 50px;
}
.color{
    color: orangered;
}

.button-one{
    text-decoration: none;
    padding: 10px 40px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}

section{
    display: flex;
}
.border-left{
    margin-right: 10px;
    border-left: 5px solid orangered;
    border-radius: 5px;
}
.a1{
    width: 50%;
    padding-left: 10%;
    margin-top: 20px;
    
}
.a{
    width: 50%;
    padding-left: 10%;
    
}
.a img{
    width: 80%;
    
    padding-top: 05%;
}
.second-section{
    display: flex;
}
.mission2{
    width: 50%;
    font-family: 'Lora', serif;
    padding-left: 45%;
}
.mission22{
    width: 50%;
    font-family: 'Lora', serif;
    padding-left: 50%;
}
.flexible{
    display:flex;
}

.margin{
    margin:100px;
}
.mission{
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px; 
    background-color: rgb(240, 217, 183);
}

.mission img{
    width: 40%;
}
.vission{
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(175, 203, 255);
    
}

.vission img{
    width: 40%;
}

.goals{
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(124, 206, 149);
}

.goals img{
    width: 40%;
}

.h-2{
    margin-left: 10px;
    font-family: 'Lora', serif;
    font-size: 50px;
}
.color{
    color: orangered;
}

.button-one{
    text-decoration: none;
    padding: 10px 40px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}

section{
    display: flex;
}

.a2{
    width: 60%;
    
    margin-top: 20px;
    
}
.a22{
    width: 50%;
    padding-left: 10%;
    
}
.a22 img{
    width: 80%;
    
    padding-top: 05%;
}


.h-3{
    margin-left: 10px;
    font-family: 'Lora', serif;
    font-size: 50px;
}
.color{
    color: orangered;
}

.button-one{
    text-decoration: none;
    padding: 10px 40px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}

section{
    display: flex;
}

.a3{
    width: 50%;
    padding-left: 10%;
    margin-top: 10%;
    
}
.a33{
    width: 50%;
    padding-left: 10%;
    
}
.a33 img{
    width: 80%;

    margin-right: 50px;
    
    padding-top: 25%;
}

.mission22{
    width: 50%;
    font-family: 'Lora', serif;
    padding-left: 50%;
}
.me{
    padding-top: 05%;
}

.me3{
    width: 50%;
    padding-left: 30%;
    margin-top: 20px;
    padding-bottom: 10%;
    
}
.me33{
    width: 50%;
    padding-left: 10%;
    
    
}
.me33 img{
    width: 40%;
    padding-left: 65%;
    padding-top: 05%;

}
.click{
    align-items: center;
    padding-left: 40%;
    padding-top: 05%;
}
.click-me{
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
footer h1{
    font-family: 'Lora', serif;
}
